html {
    height: 100%;
    background: lightblue;
    text-align: center;
    font-family: monospace;
    line-height: 1.4;
    font-size: 14px;
}
td, th {
    width: 5em;
}
tbody tr:first-child td {
    padding-top: 2em;
}
thead {
    position: fixed;
    background: lightblue;
}
button {
    position: fixed;
    top: .3em;
    left: 38em;
}